{% extends 'base.html' %}

{% block content %}
    <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" id="message" name="message">
    </div>

    <button class="btn btn-success" id="btn" disabled>ENCRYPT</button>
    <button class="btn btn-success" id="handshake">HANDSHAKE</button>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // sending a connect request to the server.
            var socket = io.connect('http://127.0.0.1:3000');

            // sending a connect request to the server.
            var socket2 = io.connect('http://127.0.0.1:' + location.port);

            $("#handshake").click(function(){
                socket.emit('hello');
            });

            socket.on('after_hello', function(msg) {
                socket2.emit('generate_als_public_key', {
                   g0: msg.G0,
                   g1: msg.G1,
                   p: msg.p
                });
            });

            socket.on('send_shared_key', function(msg) {
                socket2.emit('store_shared_key', {
                    shared_key0: msg.shared_key0,
                    shared_key1: msg.shared_key1
                });
            });

            socket2.on('success_store_shared_key', function(msg) {
                $('#btn').attr('disabled', false);
            });

            socket2.on('receive_public_key', function(msg) {
                socket.emit('send_als_public_key', {
                   pk0: msg.pk0,
                   pk1: msg.pk1,
                   port: location.port
                });
            });

            socket2.on('send_cipher_text', function(msg) {
                socket.emit('get_cipher_text', {
                    ciphertext: msg.ciphertext,
                    port: location.port
                });
            });

            $("#btn").click(function(){
                socket2.emit('als_encrypt_message', {
                   data: $('#message').val()
               });
            });
        });
     </script>
{% endblock %}