{% extends 'base.html' %}

{% block content %}
    <div class="btn-group btn-group-end" style="margin-bottom: 20px;" role="group">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="/ds/create">Add</a>
        </div>
    </div>

    {% for document in documents %}
        <div class="list-group">
            <div class="list-group-item">
            <a href="/ds/read/{{ document[0] }}">
                <h4 class="list-group-item-heading">{{ document[3] }} 
                    {% if document[5] == 1 %}
                    <span class="label label-default">signed</span>
                    {% endif %}
                </h4>
            </a>
            <p class="list-group-item-text">From {{ document[1] }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            // sending a connect request to the server.
            var socket = io.connect('http://127.0.0.1:3000');

            // sending a connect request to the server.
            var socket2 = io.connect('http://127.0.0.1:' + location.port);

            socket.on('after connect', function(msg) {
                console.log('After connect', msg);
                socket2.emit('generate_ds_key', {
                    'a': msg.ds_a,
                    'p': msg.ds_p,
                    'q': msg.ds_q
                });
            });
        });
</script>
{% endblock %}