{% extends 'base.html' %}

{% block content %}
    <p>Private Key : {{ key['private_key'] }}</p>
    <p>Public Key : {{ key['public_key'][0] }}, {{ key['public_key'][1] }}</p>
    <div class="btn-group btn-group-end" style="margin-bottom: 20px;" role="group">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="/e2ee/create">Add</a>
        </div>
    </div>

    {% for chat in chats %}
        <div class="list-group">
            <div class="list-group-item">
            <a href="/e2ee/read/{{ chat[0] }}"><h4 class="list-group-item-heading">{{ chat[3] }}</h4></a>
            <p class="list-group-item-text">From {{ chat[1] }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
{% endblock %}