{% extends 'base.html' %}

{% block content %}
    <p>Private Key : {{ key['private_key'] }}</p>
    <p>Public Key : ({{ key['public_key'][0] }}, {{ key['public_key'][1] }})</p>
    <div class="btn-group btn-group-end" style="margin-bottom: 20px;" role="group">
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="/e2ee/create">Add</a>
        </div>
    </div>

    <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Title</h4>
          <p class="list-group-item-text">Body</p>
        </div>
    </div>

    <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Title</h4>
          <p class="list-group-item-text">Body</p>
        </div>
    </div>
    <p>E2EE</p>
{% endblock %}

{% block scripts %}
{% endblock %}